.breakdance-dropdown-body {
    display: none;
}

.breakdance-menu-list {
    display: flex;
    align-items: center;
    justify-content: var(--menu-alignment);
    gap: var(--links-gap);
    list-style-type: none;
    margin: 0;
    padding: 0;